<h1>Edit your Profile </h1>

<div class="signup_container">

<%= form_for(@user, html: { multipart: true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sex, options_for_select(%w[Female Male]) %><br>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="picture">
  <%= f.file_field :profile_pic, accept: 'image/jpeg,image/gif,image/png' %><br /><br />
  </div>


  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
</div>

<%= link_to 'Back', @user %> <br />



To Delete your account <button class="del_btn">click here</button>

