<p id="notice"><%= notice %></p>

<h3 align="left">About Dr.Anoohya:</h3> </br><p> Dr.Anoohya has a Masters Degree in Audiology and Speech Language Pathology.  </br>
She has been into the service since 2012 </p><br />

<p>To fix an appointment with Dr.Anoohya, Please <%= link_to 'Click here', new_user_path %> </p> <br />

<hr />



<h3>List of Clients</h3>

<%= form_tag users_path, :method => 'get' do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
  </p>  
<% end %> 


<%= will_paginate %>
<table class="index_table">
   
  <thead>
    <tr>
      <th><%= sortable "Name" %></th>
      <th><%= sortable "Age" %></th>
      <th><%= sortable "Sex" %></th>
      <th><%= sortable "Email" %></th>
      <th>Feedback</th>
    </tr>
  </thead>
 

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.email %></td>
        <td><%= user.microposts.count %></td>
      </tr>
    <% end %>
  </tbody>
   
</table>
<%= will_paginate %>

<br>

