<header>
<ul>
	<% if signed_in? %>
	<li><%= link_to 'Home', static_home_path %></li>
	<% end %>
	<li><%= link_to 'About Us', users_path %></li>
	<li><%= link_to 'Forum', users_path %></li>
	
	<% if signed_in? %>
	<li><%= link_to 'Signout', signout_path %></li>
	<li><%= link_to 'Profile', current_user %></li>


		

	<% else %>
	<li><%= link_to 'Signin', signin_path %></li>
	<% end %>

</ul>


</header>